/* Index */

#btn-send{
	background: #2A4353 !important;
}

#btn-send:hover{
	background: #3b5363 !important;
}

.icon-p{
	position: absolute;
    left: 0;
    width: 15% !important;
}

.box-shadow-header{
	box-shadow: 0px 2px 25px -5px #888888;
}