{% extends 'layouts/master-admin.html.twig' %}
{% block title %} {% endblock %}
{% block metatags %} {% endblock %}
{% block body %}
	<br>
	<br>
	<br>
	<h4><a href="{{ path('register') }}">Nuevo Colaborador</a></h4>
	<h4><a href="{{ path('category_creation') }}">Nueva Categoría</a></h4>
	<h4><a href="{{ path('service_creation') }}">Nuevo Servicio</a></h4>
{% endblock %}