{% extends 'layouts/master.html.twig' %}
{% block title %} Alco | Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum {% endblock %}
{% block metatags %}
	<meta charset="utf-8">
	<meta name="author" content="Crealab.com.mx">
	<meta name="keywords" content="empresa de servicio y mantenimiento, servicio de mantenimiento y limpieza, empresa de mantenimiento, mantenimiento de edificación, mantenimiento y reparación, Mantenimiento general">
	<meta name="description" content="Realizamos servicio y mantenimiento para todo tipo de edificación como casas habitación, oficinas, negocios, comercios, condominios, hoteles y espacios habitables en general.">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}
{% block body %}
	
	<div id="content" class="page-content-wrap">
		<div class="container">
			<h1 class="text-center">PRÓXIMAMENTE</h1>

			<p class="text-size-medium text-center">Nuestro portafolio esta en construcción. <br> 
     		 Próximamente podras ver cada uno de los trabajos que hemos realizado.</p>

     		 <div class="row">
     		 	<div class="col-lg-12 text-center">
     		 		<a href="#" class="btn btn-big">Contactar directamente</a>
     		 	</div>
     		 </div>
		</div>
	</div>
	
	
{% endblock %}