<!DOCTYPE html>
<html lang="es">
<head>
	<title>{% block titulo %} {% endblock %}</title>
	{% block metatags %} {% endblock %}	
	{% block googlescripts %} {% enblock %}
</head>
<body>


	<footer>
		
	</footer>
</body>
</html>