{% extends 'layouts/master.html.twig' %}
{% block title %} Alco 
| Servicio y Mantenimiento Integral en Playa del Carmen, Cancún y Tulum  {% endblock %}
{% block metatags %}
	
{% endblock %}
{% block body %}
	<div class="breadcrumbs-wrap style-3">
		<div class="container">
			<h1 class="page-title">Mantenimiento y reparación de Electrodomésticos</h1>
		</div>
	</div>
	<div id="content">
		<div class="page-section">
			<div class="container">
				<div class="tabs vertical var2 style-2 tabs-section clearfix">
					<div class="tabs-nav clearfix">
						<!-- - - - - - Contacto - - - - - -->
						<div class="widget">
							<h5 class="widget-title">Envíanos un mensaje</h5>
							<form class="form-wrap flex-row">
								<div class="form-col">
									<input type="text" placeholder="Nombre">
								</div>
								<div class="form-col">
									<input type="text" placeholder="E-mail">
								</div>
								<div class="form-col">
									<input type="text" placeholder="Teléfono">
								</div>
								<div class="form-col">
									<div class="custom-select">
										<div class="select-title">Servicio</div>
									<ul id="menu-type" class="select-list"></ul>
									<select class="hide">
										<option value="menu">Arquitectura</option>
										<option value="menu">Obra civil</option>
										<option value="menu">Acabados</option>
										<option value="menu">Instalaciones Hidráulicas y Sanitarias</option>
										<option value="menu">Instalaciones Eléctricas</option>
										<option value="menu">Albercas</option>
										<option value="menu">Fumigación</option>
										<option value="menu">Aires acondicionados</option>
										<option value="menu">Instalaciones de gas</option>
										<option value="menu">Palapas y Pergolas</option>
										<option value="menu">Mantenimiento de electrodomésticos</option>
									</select>
								</div>
							</div>
							<div class="form-col">
								<textarea type="text" placeholder="Comentarios" rows="3"></textarea>
							</div>
							<div class="form-col">
								<a href="#" class="btn btn-style-5 full-width" id="btn-send">Enviar mensaje</a>
							</div>
						</form>
					</div>
					<!-- - - - - - end Contacto - - - - - -->
				</div>
				<!--tabs content-->
				<div class="tabs-content">
					<div id="tab-1">
						<div class="content-element3">
							<p>Una limpieza constante y correcta a los electrodomésticos puede servir tanto para mantener este tipo de aparatos eléctricos en buenas condiciones higiénicas, evitar su desgaste y deterioro por el paso del tiempo o mal funcionamiento entre otros problemas.</p>
							<p>Permite que nos encarguemos del mantenimiento de tus electrodomésticos, puede resultar ser una opción más económica en lugar de adquirir varias veces esos aparatos porque fallaron al poco tiempo de haberlo comprado.</p>
						</div>
						<div class="content-element3">
							<img src="images/750x350_img1.jpg" alt="">
						</div>
						<p>En Alco ofrecemos mantenimiento a una amplia variedad de equipos eléctricos, te proporcionamos una lista con algunos de ellos:</p>
						<ul class="custom-list type-1">
							<li>Lavadoras</li>
							<li>Secadoras</li>
							<li>Refrigeradores</li>
							<li>Estufas</li>
							<li>Hornos</li>
						</ul>
						<p>¡Realizamos mantenimiento a tus electrodomésticos para que su vida funcional se extienda!</p>
						<a href="#" class="btn btn-style-5">Solicitar Servicio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="call-out type1">
	<div class="container">
		<div class="align-center">
			<h2>Más Servicios</h2>
		</div>
	</div>
</div>
<div class="page-section">
	<div class="container">
		<div class="carousel-type-2">
			<div class="owl-carousel" data-item-margin="30" data-max-items="4" data-autoplay="true">
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Arquitectura</h4>
							<a class="btn btn-primary btn-lg btn-block" href="arquitectura.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Obra Civil</h4>
							<a class="btn btn-primary btn-lg btn-block" href="obra-civil.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Acabados</h4>
							<a class="btn btn-primary btn-lg btn-block" href="acabados.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Instalaciones Hidráulicas y Sanitarias</h4>
							<a class="btn btn-primary btn-lg btn-block" href="hidraulicas.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Instalaciones Eléctricas</h4>
							<a class="btn btn-primary btn-lg btn-block" href="electricas.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Albercas</h4>
							<a class="btn btn-primary btn-lg btn-block" href="albercas.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Fumigación</h4>
							<a class="btn btn-primary btn-lg btn-block" href="fumigacion.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Aires Acondicionados</h4>
							<a class="btn btn-primary btn-lg btn-block" href="aires-acondicionados.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Instalaciones de Gas</h4>
							<a class="btn btn-primary btn-lg btn-block" href="instalaciones-gas.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Palapas y Pergolas</h4>
							<a class="btn btn-primary btn-lg btn-block" href="palapas.html" role="button">Ver</a>
						</div>
					</div>
				</div>
				<div class="item-carousel">
					<div class="thumbnail">
						<img alt="100%x200" data-src="holder.js/100%x200" src="images/alco/logo-cliente.jpg" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
						<div class="caption">
							<h4 style="text-align: center;">Mantenimiento de Electrodomésticos</h4>
							<a class="btn btn-primary btn-lg btn-block" href="mantenimiento-electrodomesticos.html" role="button">Ver</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}